body {
    background-color: gray;
}








.wrapper {
    width: 1916px;
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
}





table {
    border-collapse: collapse;
    border: 2px solid black;
    background-color: darkgray;
  }
  
  td {
    width: 50px;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid black;
    font-size: 20px;
  }